* {
	letter-spacing: .5px;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
	padding: 0;
	margin: 0;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.section {
	margin-bottom: 75px;
}

.section-about,
.section-skills .professional-skills,
.section-skills .additional-skills,
.section-education .education-content,
.section-experience .icon-experience,
.section-experience .experience-content,
.section-portfolio .item-portfolio,
.section-pricing .pricing-content,
.section-testimonials .swiper-slide,
.section-blog .blog-content,
.section-contact-us .form-content,
.section-contact-us .info-content {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15),0 2px 10px 0 rgba(0,0,0,0.11);
}

/*=======================================================*/
.container {
	width: 100%;
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
/*=======================================================*/
body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}
.section-about {
    box-shadow: 0 0 5px;
    margin-top: 80px;
    margin-bottom: 75px;
}
.section-about .photo-profile {
    margin-bottom: 20px;
}
.section-about .photo-profile img {
    box-shadow: 0 0 5px;
    width: 100%;
    display: block;
}

.section-about .download-resume {
    box-shadow: 0 0 5px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 17px 5px;
    margin-bottom: 20px;
}

.section-about .text-download {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #666666;
}

.section-about .profile {
    padding: 33px 33px 22px;
}

.section-about h2 {
    padding-bottom: 4px;
    color: #0487cc;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.section-about h3 {
    padding-bottom: 20px;
}

.section-about p {
    padding-bottom: 27px;
    line-height: 28px;
    font-size: 17px;

}

.section-about span{
    color: black;
}

.section-about .li-info {
    padding-bottom: 10px;
}


.section-about .title-info {
    display: inline-block;
    width: 80px;
    color: #666666;
}

.section-about .li-social-links {
    padding-right: 5px;
    display: inline;
}

.section-about .ul-social-links {
    color: #666666;
}
/*=======================================================*/
.section-skills .professional-skills {
    margin-bottom: 75px;
}

.section-skills .title-progress {
    margin-bottom: 1px;
    color: #666666;
}

.section-skills .skill-value {
    position: absolute;
    right: 45px;
}

.section-skills h3 {
    background-color: #0487cc;
    display: inline-block;
    position: relative;
    top: -32px;
    padding: 15px 30px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    color: white;
    font-size: 20px;
}

.section-skills .professional-skills,
.section-skills .additional-skills {
    box-shadow: 0 0 5px;
    padding: 0 30px 30px;
}

.section-skills .title-skills {
    text-align: center;
}

.section-skills .progress-bar {
    background-color: #0487cc;
}

.section-skills .progress {
    background-color: #666666;
    border-radius: 0;
}
/*=======================================================*/

.card {
    width: 136px;
    height: 164px;
    position: relative;
    perspective: 1000px;
    margin: 0 auto;
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 5px;
  }
  .front {
    background-color: #0487cc;
  }

    .front span {
        font-size: 20px;
        color: white;
    }

  .back {
    background-color: #666666;
    transform: rotateY(180deg);
  }

  .card:hover .front {transform: rotateY(180deg);}
  .card:hover .back {transform: rotateY(360deg);}
  /* ============================ */
svg {
    width: 100px;
    height: 100px;
}